{% extends 'base.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-lg-5">
        <h1 class="h3 mb-0 text-gray-800">{{ form.vars.show_password_field is defined and form.vars.show_password_field ? 'Add User' : 'Edit User' }}</h1>
    </div>
    <div class="row mt-lg-5">
        <div class="col-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body w-100">
                    {{ form_start(form, {'attr' : { 'id' : 'register'}}) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.firstName) }}
                            <span>{{ form_errors(form.firstName) }}</span>
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.lastName) }}
                            <span>{{ form_errors(form.lastName) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                        <span>{{ form_errors(form.email) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.image) }}
                    </div>
                    {% if form.vars.show_password_field is defined and form.vars.show_password_field %}
                        <div class="form-group">
                            {{ form_row(form.password.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password.second) }}
                            <span>{{ form_errors(form.password.second) }}</span>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#register').validate({
                'errorElement': 'span',
                'errorClass': 'text-danger',
                rules: {
                    'register[firstname]': 'required',
                    'register[email]': {
                        required: true,
                        email: true,
                    },
                    'register[password][first]': {
                        required: true,
                    },
                    'register[password][second]': {
                        required: true,
                        equalTo: "#register_password_first"
                    },
                    'register[image]': {
                        required: true,
                        extension: "jpg"
                    }
                },
                messages: {
                    'register[firstname]': 'This field is required',
                    'register[email]': {
                        required: 'This Field is required',
                        email: 'Enter valid email'
                    },
                    password: {
                        minlength: 'Password must be at least 8 characters long'
                    }
                }
            });
        })
    </script>
{% endblock %}